.app-header {
  background-color: #f8f9fa;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .logo-title{
      font-size: 1.25rem;
      font-weight: 600;
      color: #343a40;
    }
    .logo-image{
      width: 100px;
      height: 100px;
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
    text-decoration: none;
  }

  .navigation-menu {
    display: flex;
    gap: 1.5rem;
  }
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
  }
  .nav-item {
    .nav-item-link {
      text-decoration: none;
      color: #343a40;
      font-weight: 500;
      transition: color 0.3s;

      &:hover {
        color: #007bff;
      }
    }
  }
}
